{% extends "base.html" %}
{% block title %}All Supermarkets{% endblock %}
{% block body %}
<h1>Supermarkets</h1>
    <ol>
        {% for i in value %}
        <li>
            {% if i['name'] in sess %}
                <a href="{{url_for('supermarket.supermarkets_fun')}}/{{ i['id'] }}" onclick="return false;">{{ i['name'] }}</a>
            {% else %}
                <a href="{{url_for('supermarket.supermarkets_fun')}}/{{ i['id'] }}">{{ i['name'] }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
{% endblock %}